<div id="<%= dom_id friend %>">
  <div class="card-header">
    <h5><%= friend.first_name %> <%= friend.last_name %></h5>
  </div>

  <div class="card-body">
    <p>
      <strong>Email:</strong>
      <%= friend.email %>
    </p>
    <p>
      <strong>Twitter:</strong>
      <%= friend.twitter %>
    </p>
    <p>
      <strong>String:</strong>
      <%= friend.string %>
    </p>
  </div>
</div>
